@import "../../../static/styles/variables";

.button {
  max-width: 100%;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 7px 1px rgba($black, 0.25);
  background: $blue;
  color: $white;
  font-family: $basic;
  font-size: 18px;
  text-align: center;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
