-
    var menuList = [
        { url: './../login/login.pug', text: 'Login' },
        { url: './../signin/signin.pug', text: 'Signin' },
        { url: './../messenger/messenger.pug', text: 'Messenger' },
        { url: './../profile/profile.pug', text: 'Profile' },
        { url: './../edit-profile/edit-profile.pug', text: 'Edit-Profile' },
        { url: './../edit-password/edit-password.pug', text: 'Edit-Password' },
        { url: './../404/404.pug', text: '404' },
        { url: './../500/500.pug', text: '500' },
    ]

mixin menu
    nav.menu
        ul
            each item in menuList
                li
                    a(href=item.url)= item.text
