-
    var menuList = [
        { url: './pages/login/login.pug', text: 'Login' },
        { url: './pages/signin/signin.pug', text: 'Signin' },
        { url: './pages/messenger/messenger.pug', text: 'Messenger' },
        { url: './pages/profile/profile.pug', text: 'Profile' },
        { url: './pages/edit-profile/edit-profile.pug', text: 'Edit-Profile' },
        { url: './pages/edit-password/edit-password.pug', text: 'Edit-Password' },
        { url: './pages/404/404.pug', text: '404' },
        { url: './pages/500/500.pug', text: '500' },
    ]

mixin menu
    nav.menu
        ul
            each item in menuList
                li
                    a(href=item.url)= item.text
