h1.edit-profile__title
aside.edit-profile__panel
    a(href="../messenger/index.html" class="edit-profile__link")
main.edit-profile__main
    form#edit-profile-form.edit-profile__form
        .edit-profile__avatar
        span.user=user.display_name
        ul.edit-profile__info
            li.edit-profile__item
                .edit-profile__name Почта
                emailInputComponent
            li.edit-profile__item
                .edit-profile__name Логин
                loginInputComponent
            li.edit-profile__item
                .edit-profile__name Имя
                firstnameInputComponent
            li.edit-profile__item
                .edit-profile__name Фамилия
                secondnameInputComponent
            li.edit-profile__item
                .edit-profile__name Имя в чате
                nicknameInputComponent
            li.edit-profile__item
                .edit-profile__name Телефон
                phoneInputComponent
        buttonComponent
