extends ../../../src/layouts/layout

block links
    link(rel="stylesheet", href="500.scss")

block content
    .server-errors
        h1 500
        span Мы уже фиксим
        a(href="../messenger/messenger.pug") Назад к чатам
