extends ../../../src/layouts/layout

block links
    link(rel="stylesheet", href="500.scss")

block content
    include ../../components/errors/errors
    +errors('500', 'Мы уже фиксим', 'Назад к чатам')
