h1.messenger__title
aside.messenger__panel
  linkComponent(data="linkComponent")
  searchInputComponent(data="searchInputComponent")
  cardsComponent#contact-list(data="cardsComponent")
main.messenger__main
  chatComponent(data="chatComponent")
