extends ../../../src/layouts/layout

block links
    link(rel="stylesheet", href="messenger.scss")

block content
    include ../../components/search-input/search-input
    include ../../components/link/link
    include ../../components/card/card
    -
      var users = [
          {name: 'Алексей', time: "10:20", message: "Го гулять", counter: "3"},
          {name: 'Алексей', time: "10:20", message: "Го гулять", counter: "3"},
          {name: 'Алексей', time: "10:20", message: "Го гулять", counter: "3"},
          {name: 'Алексей', time: "10:20", message: "Го гулять", counter: "3"},
          {name: 'Алексей', time: "10:20", message: "Го гулять", counter: "3"}
      ]
    .messenger
        aside
            +link("messenger__link", "../profile/profile.pug")
            +search-input("messenger__search", 'Найти чат')
            ul
              each item in users
                  li
                      +card(item.name, item.time, item.message, item.counter)
        main
            .no_select
                | Выберите чат чтобы отправить сообщение


