form#signin-form.signin-form
    h1.signin-form__title Регистрация
    emailInputComponent
    loginInputComponent
    firstnameInputComponent
    secondnameInputComponent
    phoneInputComponent
    passwordInputComponent
    repeatPasswordInputComponent
    buttonComponent
    a.signin-form__link(href="../login/index.html") Войти



