form#signin-form.signin-form
    h1.signin-form__title=title
    loginInputComponent(data="loginInputComponent")
    passwordInputComponent(data="passwordInputComponent")
    buttonComponent(data="buttonComponent")
    a.signin-form__link(href="#" id="goToSignUp") Нет аккаунта?
