extends ../../../src/layouts/layout

block links
    link(rel="stylesheet", href="signin.scss")

block content
    include ../../components/text-input/text-input
    include ../../components/button/button
    form.form
        h1.form__title Регистрация
        +input("text", "Почта", "form__email", "email")
        +input("text", "Логин", "form__login", "login")
        +input("text", "Имя", "form__firstname", "firstname")
        +input("text", "Фамилия", "form__secondname", "secondname")
        +input("text", "Телефон", "form__phone", "phone")
        +input("password", "Пароль", "form__password", "password")
        +input("password", "Пароль (ещё раз)", "form__password-repeat", "password-repeat")
        +button("submit","Зарегистрироваться", "form__button")
        a.form__link(href="../login/login.pug")= "Войти"



