@import "static/styles/variables";

.search-input {
  position: relative;
  height: 32px;
  background-color: $light-gray;
  border-radius: 5px;

  &__icon {
    width: 20px;
    height: 20px;
    background: url("../../../static/images/search-icon.svg");
    position: absolute;
    top: 5px;
    left: 110px;
    transition-duration: 0.3s;
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 130px;
    margin-left: 5px;
    font-family: $basic;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $gray;
    opacity: 1;
    transition-duration: 0.3s;
  }

  &__field {
    position: absolute;
    z-index: 1;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: $black;
    font-family: $basic;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      padding-left: 40px;
    }
  }

  &__field:not(:placeholder-shown) ~ &__label {
    opacity: 0;
    transition-duration: 0.3s;
  }

  &__field:not(:placeholder-shown) + &__icon {
    transform: translateX(-100px);
  }

  &__field:not(:placeholder-shown) {
    padding-left: 40px;
  }

  &__field:focus + &__icon {
    transform: translateX(-100px);
    transition-duration: 0.3s;
  }

  &__field:focus ~ &__label {
    opacity: 0;
    transition-duration: 0.3s;
  }
}
