/* Fonts */
$basic: 'Inter', sans-serif;
/* Colors */
$black: #1E1E1E;
$dark-gray: #615f5f;
$gray: #999999;
$light-gray: #EFEFEF;
$grey-message: #F8F8F8;
$messenger-gray: #FBFBFB;
$divider-gray: #EAEAEA;
$white: #FFFFFF;
$sky-blue: #E4EDFD;
$blue: #3369F3;
$blue-message: #E4EDFD;
$blue-light: rgba(209, 221, 248, 0.7);
$blue-sky: rgba(187, 209, 248, 0.15);
$grey-hover: rgba(167, 170, 176, 0.16);
$red: #FF2F2F;
