form#signup-form.signup-form
    h1.signup-form__title Регистрация
    emailInputComponent(data="emailInputComponent")
    loginInputComponent(data="loginInputComponent")
    firstnameInputComponent(data="firstnameInputComponent")
    secondnameInputComponent(data="secondnameInputComponent")
    phoneInputComponent(data="phoneInputComponent")
    passwordInputComponent(data="passwordInputComponent")
    repeatPasswordInputComponent(data="repeatPasswordInputComponent")
    buttonComponent(data="buttonComponent")
    a.signup-form__link(href="#" id="goToLogin") Войти



