form#signup-form.signup-form
    h1.signup-form__title Регистрация
    emailInputComponent
    loginInputComponent
    firstnameInputComponent
    secondnameInputComponent
    phoneInputComponent
    passwordInputComponent
    repeatPasswordInputComponent
    buttonComponent
    a.signup-form__link(href="#" id="goToLogin") Войти



