extends ../../../src/layouts/layout

block links
    link(rel="stylesheet", href="edit-password.scss")

block content
    include ../../components/button/button
    -
        var user = {
          oldPassword: '1234567890',
          newPassword: '0987654321',
        }

    .edit-password
        h1.edit-password__title
        aside.edit-password__panel
            a(href="../messenger/messenger.pug" class="edit-password__link")
                img(src="../../../static/images/back.svg")
        main.edit-password__main
            form.edit-password__form
                .edit-password__avatar
                    img(src="../../../static/images/avatar.svg")
                span.edit-password__user=user.display_name
                ul.edit-password__info
                    li.edit-password__item
                        .edit-password__name Старый пароль
                        input(class="edit-password__value" type="password" value=user.oldPassword)
                    li.edit-password__item
                        .edit-password__name Новый пароль
                        input(class="edit-password__value" type="password" value=user.newPassword)
                    li.edit-password__item
                        .edit-password__name Повторите новый пароль
                        input(class="edit-password__value" type="password" value=user.newPassword)
                +button("submit", "Сохранить", "edit-profile__button")

