extends ../../../src/layouts/layout

block links
    link(rel="stylesheet", href="edit-password.scss")

block content
    include ../../components/button/button
    -
        var user = {
          oldPassword: '1234567890',
          newPassword: '0987654321',
        }

    .edit-password
        aside
            a(href="../messenger/messenger.pug")
                img(src="../../../static/images/back.svg")
        main
            form
                .avatar
                    img(src="../../../static/images/avatar.svg")
                span.user=user.display_name
                ul.info
                    li
                        .name Старый пароль
                        input(class="value" type="password" value=user.oldPassword)
                    li
                        .name Новый пароль
                        input(class="value" type="password" value=user.newPassword)
                    li
                        .name Повторите новый пароль
                        input(class="value" type="password" value=user.newPassword)
                +button("submit", "Сохранить", "edit-profile__button")

