h1.edit-password__title
aside.edit-password__panel
  a(href="#" id="goToChat" class="edit-password__link")
main.edit-password__main
  form#edit-password-form.edit-password__form
    .edit-password__avatar
    span.edit-password__user=user.display_name
    ul.edit-password__info
      li.edit-password__item
        .edit-password__name Старый пароль
        passwordInputComponent(data="passwordInputComponent")
      li.edit-password__item
        .edit-password__name Новый пароль
        repeatPasswordInputComponent(data="repeatPasswordInputComponent")
      li.edit-password__item
        .edit-password__name Повторите новый пароль
        newPasswordInputComponent(data="newPasswordInputComponent")
    buttonComponent(data="buttonComponent")
