div(id="closePopupAddUserToChat" class=`popup-add-user-background${isOpened ? "" : " hidden"}`)
  section(class="popup-add-user-form")
    searchUserInputComponent(data="searchUserInput" class="popup-add-user-form__search")
    section(id="addUserToChat")
      usersListComponent(data="usersList")
    button(type="button" id="closeAddUserPopup" class="popup-add-user-form__cross-icon")
      include ../../../../static/images/cross.svg
