@import '../../../static/styles/variables';

.link {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-family: $basic;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: $gray;
  outline: none;

  &-text {
    margin-right: 5px;
  }

  &-img {
    background-image: url("../../../static/images/arrow_left.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 6px;
    height: 8px;
  }
}
