@import '../../../static/styles/variables';

.link {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-family: $basic;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: $gray;
  outline: none;

  &__text {
    margin-right: 5px;
  }

  &__img {
    width: 4px;
    height: 8px;
  }
}
