mixin link(className, href)
    a(class=`link ${className}` href=href)
        span(class=`link__text link__${className}`) Профиль
        img(src="../../../static/images/arrow-right.svg" class=`link__img link__${className}`)
