section(class=`message ${you ? 'message--you' : ''}`)
  avatarComponent(data="avatar" class="message__avatar")
  div(class="message__card")
    p(class="message__text")=text
    if time
      timeComponent(data="time" class="message__time")
